.ui-title {
    text-align: center;

    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 130%;
    }

    &__excerpt {
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 160%;
        color: #4b5d68;
    }
}
