.ui-dropdown {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;

    &__title {
        margin: 0;
        padding-bottom: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 277%;
    }

    &__icon {
        position: absolute;
        right: 0;
        top: calc(37px - 9px);
        padding-bottom: 0;
    }

    &__content {
        display: none;

        &.active {
            display: block;
            position: relative;
        }
    }
}
