footer {
    background-color: #9c69e2;
}

.grid {
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;

    &__column {
        grid-column: span 2;

        &--nav {
            grid-column: span 4;
        }

        &--big {
            grid-column: span 6;
            display: flex;
            align-items: center;
        }
    }
}

.footer__button {
    margin-left: 33px;
}

//992
@media screen and (max-width: 992px) {
    .grid {
        padding: 52px 0;
        align-items: flex-start;

        &__column {
            &--big {
                input {
                    max-width: 250px;
                }
            }
        }
    }
}

// 768
@media screen and (max-width: 768px) {
    .grid {
        padding: 52px 0;
        align-items: flex-start;

        &__column {
            grid-column: span 6;

            &--nav {
                justify-self: flex-end;
            }

            &--big {
                margin-top: 35px;
                grid-column: span 12;
                display: block;
                text-align: center;

                .footer__button {
                    margin-left: 0;
                    margin-top: 22px;
                }
            }
        }
    }
}
