.slider-card {
    max-width: 390px;
    height: 100%;
    margin: 0 auto;
    padding-left: 50px;

    &__card {
        height: 100%;
        max-width: 390px;
        box-shadow: 0px 10px 0px #f5bd3f;
        border-radius: 50px;
        background-color: #fff3d7;
    }

    &__content {
        height: 100%;
        position: relative;
        box-sizing: border-box;
        padding: 40px 60px 40px 115px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__new {
        position: absolute;
        top: -5px;
        padding: 3px 15px;
        box-shadow: 0px 4px 0px #efe3c5;
        border-radius: 0px 0px 4px 4px;
        background-color: #f063b8;

        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        text-transform: uppercase;
        color: #ffffff;
    }

    &__id {
        position: absolute;
        top: -40px;
        left: -65px;
        font-style: normal;
        font-weight: bold;
        font-size: 202px;
        line-height: 160%;
        color: #9c69e2;
    }
    &__title {
        margin: 0 0 20px 0;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
    }
    &__info {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: #4b5d68;
    }
    &__link {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .slider-card {
        padding-left: 0;

        &__content {
            padding: 40px 30px;
        }

        &__id {
            display: none;
        }
    }
}
