.slider {
    position: relative;
    margin: 0 30px;
    background: #ffc84d;
    border-radius: 50px;
    padding: 100px 120px 130px 110px;

    &__content {
        margin: 0 -15px;

        .slick-track {
            display: flex;
            align-items: stretch;
            justify-content: center;

            .slick-slide {
                height: auto;

                & > div {
                    height: 100%;
                }
            }
        }
        .slick-dots {
            position: absolute;
            bottom: -70px;
            left: -60px;
            list-style-type: none;

            li {
                display: inline-block;
            }
            li + li {
                margin-left: 15px;
            }

            button {
                font-size: 0;
                line-height: 0;
                display: block;
                padding: 5px;
                color: transparent;
                border: 0;
                border-radius: 50%;
                outline: none;
                background: #fff;
                cursor: pointer;
            }

            .slick-active {
                button {
                    background: #f063b8;
                }
            }
        }
    }

    &__card {
        height: 100%;
        padding: 15px 15px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 768px) {
    .slider {
        margin: 0 -20px;
        padding: 40px 20px 100px;
        border-radius: 0;

        &__content {
            .slick-dots {
                position: absolute;
                bottom: -70px;
                left: calc(50% - 42.5px);
                padding: 0;
            }
        }

        &__card {
            display: flex;
            justify-self: center;
        }
    }
}
