.slider {
    margin: 0 60px;
    overflow: hidden;
    background: #ffc84d;
    border-radius: 50px;
    padding: 95px 120px 130px 150px;

    &__content {
        display: flex;
    }
    &__card {
        & + & {
            margin-left: 150px;
        }
    }

    &__nav {
        position: relative;
    }
    &-nav {
        &__link {
            & + & {
                margin-left: 15px;
            }
        }
        &__item {
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #f063b8;
        }
    }
}
